REDIS_URL=rediss://default:gQAAAAAAAc5dAAIgcDI4YTIxMDVjZGViN2Y0NjliYTE3MDdlZjMxYTE1ZTFiZA@set-spider-118365.upstash.io:6379
POSTGRES_URL=postgresql://neondb_owner:npg_3hriWXVDvwC7@ep-flat-sea-aqj812py.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
